.git
.tools
venv
.venv
env
__pycache__
*.pyc
frontend-react/node_modules
frontend-react/dist
frontend-react/vite.log
frontend-react/vite.err.log
data
datasets
*.zip
*.tar
*.tar.gz
*.7z
streamlit.log
streamlit.err.log
backend-api/*.log
backend-api/*.err.log
frontend-react/*.log
frontend-react/*.err.log
